{% extends "govlink/base.html" %}
{% load static %}
{% block content %}
<div class="boxed">

    
    <!-- Header -->            
   
    <!-- Slider -->
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static "img/slides/1.jpg" %}" alt="slider-image" />

                    <div class="tp-caption sfb title-slide color-white style1" data-x="15" data-y="254" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">Meet new friends,<br>and study with experts</div>

                    <div class="tp-caption sft desc-slide color-white" data-x="15" data-y="398" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">
                    

                    <div class="tp-caption sft center color-white flat-button-slide" data-x="15" data-y="528" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                        <a href="#">View Our courses</a>
                    </div>
                </li>

                <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static "img/slides/2.jpg" %}" alt="slider-image" />
                    <div class="tp-caption sfl title-slide center" data-x="379" data-y="245" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">
                        Welcome To SPEARHEAD Solutions
                    </div>  
                    <div class="tp-caption sfr desc-slide center" data-x="306" data-y="322" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">                       
                       SPEARHEAD are specialists in skills development and training for individuals and teams across all types of organisations,</br> large and small, public and private, domestic and international.
                    </div>                            
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static "img/slides/3.jpg" %}" alt="slider-image" />

                    <div class="tp-caption sfb title-slide color-white center style2" data-x="315" data-y="285" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">Welcome To SPEARHEAD</div>

                    <div class="tp-caption sft desc-slide color-white center" data-x="387" data-y="370" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut"></div>

                    <div class="tp-caption sft center color-white flat-button-slide style1" data-x="484" data-y="463" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                        <a href="#">learn more</a>
                    </div>
                </li>

                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <img src="{% static "img/slides/4.jpg" %}" alt="slider-image" />

                    <div class="tp-caption sft sub-title" data-x="480" data-y="232" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">Course, Online Courses Template</div>

                    <div class="tp-caption sft title-slide color-white center style3" data-x="218" data-y="300" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut">we will help to learn</div>

                    <div class="tp-caption sfb desc-slide color-white center style1" data-x="319" data-y="381" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"></div>                        
                </li>
            </ul>
        </div>
    </div>

     <!-- Flat iconbox left -->
     <section class="flat-row pad-bottom90px">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="flat-iconbox">
                            <div class="icon-image">
                                <img src="{% static "img/course1.jpg" %}"  alt="image">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Man Power development</a></h6>            
                                
                            </div>
                            
                        </div><!-- /.flat-iconbox -->
                    </div><!-- /.col-md-3 -->
    
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="flat-iconbox">
                            <div class="icon-image">
                                <img src="{% static "img/course4.jpg" %}"  alt="image">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Programming</a></h6>            
                                <p></p> 
                            </div>
                            
                        </div><!-- /.flat-iconbox -->
                    </div><!-- /.col-md-3 -->
    
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="flat-iconbox">
                            <div class="icon-image">
                                <img src="{% static "img/course1.jpg" %}"  alt="image">
                            </div>
                            <div class="content">
                                <h6 class="title"><a href="#">Project Management</a></h6>            
                                <p></p> 
                            </div>
                           
                        </div><!-- /.flat-iconbox -->
                    </div><!-- /.col-md-3 -->
    
                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
    
    <!-- Flat fillter courses -->
    <section class="flat-row pad-top95px parallax parallax3 bg-black">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section cl-white">
                        <h1 class="title">Search For Courses</h1>
                        <div class="desc">
                            <p></p>
                        </div>
                    </div><!-- /.title-section -->

                    <div class="row">
                        <div class="flat-divider d50px"></div>
                    </div>

                    <!-- Fillter courses -->
                    <form class="flat-contact-form fillter-courses border-radius border-white text-center" id="contactform5"  action="{% url 'govlink:searchposts' %}" method="GET" value="{{request.GET.q}}">
                        <div class="field clearfix">      
                            <div class="wrap-type-input">
                                

                                
                                <div class="wrap courses-keyword">
                                            <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
                                                <input type="submit" name="submit" value="Search"/>
                                                
                                </div>

                                  
                            </div><!-- /.wrap-type-input -->                            
                        </div><!-- /.field -->                        
                    </form><!-- /.comment-form -->  
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->        
    </section>

    <!-- Flat courses -->
    <section class="flat-row pad-top95px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style2">
                        <h1 class="title">Popular Categories</h1>
                        <div class="desc">
                            <p></p>
                        </div>
                    </div><!-- /.title-section -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

            <div class="row">
                <div class="flat-divider d60px"></div>
            </div>

            <div class="row">
            {% for Category in Category  %}
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="flat-courses style1">
                        <div class="courses-thumbnail" class = "img-fluid" style="width:300px;height:300px">
                            {%if Category.logo%}
                            <a href="{% url 'govlink:courselist' slug=Category.slug %}"><img src="{{ Category.logo.url }}"  alt="image" style="width:300px;height:200px"></a>
                            {%endif%}
                            <div class="courses-description">
                                <p class="desc"></p>
                                <p class="courses-duration">Course Duration: 1 Week</p>
                                <p class="degree-level">Degree level: All levels</p>
                            </div> 
                            <a class="courses-viewmore" href="{% url 'govlink:courselist' slug=Category.slug %}">Open</a>
                        </div>
                        <div class="courses-content">
                            <a href="{% url 'govlink:courselist' slug=Category.slug %}"><h6 class="courses-topic">{{Category.category}}</h6></a>
                        </div>
                        
                         </div><!-- /.flat-courses -->
                </div><!-- /.col-md-3 -->
{%endfor%}
                
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <!-- Flat gallery -->
    <section class="flat-row pad-top0px pad-bottom0px">
        <div class="flat-gallery-carousel" data-item="4" data-nav="true" data-dots="false" data-auto="true">
                {%for gallery in gallery %}
            <div class="item">
                
                <a class="popup-gallery" href="{{ gallery.pic.url }}"><img src="{{ gallery.pic.url }}" alt="image"></a>
            </div>
            {%endfor%}
        </div><!-- /.flat-gallery-carousel -->
    </section> 

    <!-- Flat iconbox left style1 -->
    <section class="flat-row pad-bottom85px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-image style1">
                        <img src="{% static "img/about/about4.png" %}" alt="image">
                    </div>
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <div class="about-us">
                        <h2 class="title-about-us">Why Choose Us</h2>
                        <div class="desc">
                            <p>Our training delivery is of global best practice in view of our alliance with reputable establishments in United Kingdom, CANADA, USA, UAE-Dubai etc. SPEARHEAD is an accredited trainer and certified by Nigeria Council for Management Development,Lagos and many other agencies in different parts of the world. </p>                           
                        </div>
                    </div><!-- /.about-us -->

                    <div class="flat-divider d30px"></div>

                    <div class="row">
                        <div class="col-md-6 col-ms-6 col-xs-6">
                            <div class="flat-iconbox style1">
                                <div class="icon-image">
                                    <span class="icon-Board"></span>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Our Teaching</a></h6>            
                                    <p></p> 
                                </div>
                            </div><!-- /.flat-iconbox -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-ms-6 col-xs-6">
                            <div class="flat-iconbox style1">
                                <div class="icon-image">
                                    <span class="icon-Notepad"></span>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Our Student Feedback</a></h6>            
                                    <p></p> 
                                </div>
                            </div><!-- /.flat-iconbox -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->

                    <div class="flat-divider d45px"></div>

                    <div class="row">
                        <div class="col-md-6 col-ms-6 col-xs-6">
                            <div class="flat-iconbox style1">
                                <div class="icon-image">
                                    <span class="icon-Brain"></span>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Our Experience</a></h6>            
                                    <p></p> 
                                </div>
                            </div><!-- /.flat-iconbox -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-ms-6 col-xs-6">
                            <div class="flat-iconbox style1">
                                <div class="icon-image">
                                    <span class="icon-Affiliate"></span>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Our School Partnerships</a></h6>            
                                    <p></p> 
                                </div>
                            </div><!-- /.flat-iconbox -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- Flat video parallax style1 -->
  <!--  <section class="flat-row flat-video video-bg parallax bg-playvideo bg-black bg-p8">
        <div class="overlay"></div>        
        <div class="video">
            <div id="bg-video">
                <div class="video-section" data-property="{videoURL:'https://youtu.be/kBdfcR-8hEY',containment:'.flat-video.video-bg', autoPlay:false, mute:true, startAt:0, opacity:1, vol: 0, realfullscreen:true, quality: 'hd1080', startAt: 12}"></div>
            </div>
            <div id="video-controls" style="display: block;">
                <a class="fa fa-play text-color color-border" id="video-play" href="#"></a>
                <br />
                <h2 class="title">take the time to visit our school</h2>
            </div> 
        </div>
    </section> -->

    <!-- About-us -->
    <section class="flat-row pad-bottom60px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-us">
                        <h2 class="title-about-us">Our Mission <span>and</span> Philosophy</h2>
                        <div class="desc">
                            <p>Vut sagittis a, magna ridiculus! Scelerisque parturient! Cum duis nunc in, dignissim, porta porta enim, proin turpis egestas! Mauris dapibus sed integer placerat, scelerisque! Ac enim nascetur rhoncus facilisis phasellus eu sit turpis purus magna auctor nunc facilisis parturient ac tempor, montes etiam tortor rhoncus! In, aliquam. Elementum urna, tincidunt? Nisi ut urna? Arcu, odio facilisis urna magna vel, elementum integer quis nisi nisi scelerisque etiam.</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li>Nam ultrices elit augue, at euismod ipsum bibendum at.</li>
                                <li>Nulla semper consectetur ex,</li>
                                <li>Integer nisl nisi, scelerisque in metus nec</li>
                                <li>Aenean suscipit ullamcorper aliquam.</li>
                            </ul>
                        </div>
                    </div><!-- /.about-us -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <div class="single-image">
                        <img src="images/about/about5.png" alt="image">
                    </div><!-- /.about-us-img -->                        
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <!-- Flat event style1-->
    <section class="flat-row pad-bottom45px parallax parallax7 bg-black bg-p7">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style4">
                        <h1 class="title">Event’s Coming Soon</h1>
                    </div><!-- /.title-section -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

            <div class="flat-divider d20px"></div>

            <div class="row">
                    {% for event in event %}
                <div class="col-md-6">
                    <div class="flat-event style1">
                        <div class="time-event">
                            <div class="time-from">
                                <div class="date">{{ event.day }}</div>
                                <div class="month">{{ event.month }}</div>
                            </div>
                            <div class="hours"><p>9:00am - 5:00pm</p><p>1 week</p></div>
                        </div><!-- /.time-event -->

                        <div class="event-wrapper">
                            <h5 class="title"><a href="#">{{event.name}}</a></h5>
                            <div class="meta">                                
                                <div class="location">{{event.location}}</div>
                                <div class="content">
                                    <p>{{event.description|truncatechars:20 }}</p>
                                </div>
                            </div>
                        </div><!-- /.event-wrapper -->                            
                    </div><!-- /.flat-event -->

                    
                </div><!-- /.col-md-6 -->
                {%endfor%}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <div class="view-event" style="background-color: #000; text-align: center;">
        <a href="#">EVENTS</a>
    </div>

   

   
    <div class="flat-divider d85px"></div>

    <!-- Flat contact -->
    <section class="flat-row bg-contact pad-top375px pad-bottom360px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap-contactform-home1">
                        <form class="flat-contact-form border-radius field-large text-large" id="contactform6" method="POST" action="{% url 'govlink:contact' %}">
                             {% csrf_token %} 
                            <div class="field clearfix">      
                                <div class="wrap-type-input">                    
                                    <div class="input-wrap name">
                                        <input type="text" value="" tabindex="1" placeholder="Your name" name="name" id="name" required>
                                    </div>
                                    <div class="input-wrap email">
                                        <input type="email" value="" tabindex="2" placeholder="Your email" name="email" id="email-contact" required>
                                    </div>
                                    <div class="input-wrap last Subject">
                                        <input type="text" value="" placeholder="Subject" name="subject" id="subject-2" >
                                    </div>  
                                </div>
                                <div class="textarea-wrap">
                                    <textarea class="type-input" tabindex="3" placeholder="Your Message" name="message" id="message-contact" required></textarea>
                                </div>
                            </div>
                            <div class="submit-wrap">
                                <button>send</button>
                            </div>
                        </form><!-- /.comment-form -->   
                    </div><!-- /.wrap-contactform-home1 -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
   
   

    <!-- Bottom -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="line-top"></div>
                </div>
            </div>
            <div class="row">
                <div class="container-bottom">
                    <div class="col-md-6">
                        <div class="copyright"> 
                            <p>© Copyright <a href="#">Alitstudio</a> 2015. All Rights Reserved.
                            </p>
                        </div>                   
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-6">
                        <ul class="flat-socials text-right">
                            <li class="facebook">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="linkedin">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>              
                    </div><!-- /.col-md-6 -->
                </div><!-- /.container-bottom -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>

    {% endblock %}
