<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="blog-table">
        <h2><a href="{% url 'admin:index' %}">&#9997 New Post</a></h2>
        <table>
            <tr>
                <th>Title</th>
                <th colspan="2">Actions</th>
            </tr>
            
            <tr>
                <td><a href="#">{{ obj.coursename }}</a></td>
            </tr>
        </table>
                    
    </div>

</body>
</html>